.main {
    position: absolute;
    width: calc(100% - 2*var(--padding));
    height: calc(100% - 4.5*var(--padding));
    background-color: #f5f4f4;
    display: grid;
    grid-template-columns: 25% 75%;
}